<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAofzNEP-rOmTV2s7mWezFodCjhhi1XheM</string>
	<key>GCM_SENDER_ID</key>
	<string>89298882636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aeronex.dhatnoon</string>
	<key>PROJECT_ID</key>
	<string>dhatnoon-6caaa</string>
	<key>STORAGE_BUCKET</key>
	<string>dhatnoon-6caaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89298882636:ios:5c06c2414867458d4ae4e9</string>
</dict>
</plist>